- provide(:title, 'Contact')
%h1 Contact
%p
  N'hésitez pas à me contacter directement sur mon
  = succeed "." do
    %a{:href => "https://www.linkedin.com/in/sebastien-friedberg/", :target => "_blank"} LinkedIn
