- if @feed_items.any?
  %ol.microposts
    = render @feed_items
  = will_paginate @feed_items, params: { controller: :static_pages, action: :home}
- else
  %h5 Créez votre premier poste et suivez vos amis pour voir leurs publications !
