%footer.footer
  %small
    Une copie de Twitter avec Rails
    par
    %a{:href => "https://github.com/SebastienGt", :target => "_blank"} Sébastien F.
  %nav
    %ul
      %li= link_to "Aide", help_path
      %li= link_to "Contactez-moi", contact_path
      %li
        %a{:href => "https://github.com/SebastienGt", :target => "_blank"} Github
      %li
        %a{:href => "https://www.linkedin.com/in/sebastien-friedberg/", :target => "_blank"} LinkedIn
