<footer class="footer">
	<small>
		Une copie de Twitter avec Rails</a>
		par <a href="https://github.com/SebastienGt" target="_blank">Sébastien F.</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Aide", help_path %></li>
			<li><%= link_to "Contactez-moi", contact_path %></li>
			<li><a href="https://github.com/SebastienGt" target="_blank">Github</a></li>
			<li><a href="https://www.linkedin.com/in/sebastien-friedberg/" target="_blank">LinkedIn</a></li>
		</ul>
	</nav>
</footer>
